<div class="editRecord">
<p>
	jméno: <b><%=h @talk.contact.first_name if @talk.contact %> </b>  
	příjmení: <b><%=h @talk.contact.last_name if @talk.contact  %> </b>
</p>	
<p>
	telefon: <%=h @talk.contact.mob_phone if @talk.contact %>  email: <%=h @talk.contact.email if @talk.contact%>
</p>

</div>
<% form_for(@talk) do |f| %>
  <%= f.error_messages %>
  <div  class = "showRecord">
  <table >    
		<tr> 
			<td colspan="3" >
			 <%= f.label :Příjmení_kontaktu%><br />
			 <%= text_field_with_auto_complete :talk, :contact_name, { :size => 15 }, { :url => formatted_contacts_path(:js), :method => :get, :param_name => 'search' } %>

			</td>	
		</tr>
  	<tr>  
			<td>
				<%= f.label :Skript %><BR/>
				<%= f.collection_select :script_id, Script.all, :id, :name, {:include_blank => true}  %>
				
			</td>
			<td>
				<%= f.label :Zavolat_kdy %><BR/>
				<%= f.datetime_select :call_when_time, :order => [:day, :month, :year], :use_month_numbers => true %>
			</td>
			<td>
				<%= f.label :hovor_ukončen %><BR/>
				<%= f.check_box :finished %>
		 </td>
		 
		</tr>
		<tr>  
			<td>
				<%= f.label :poradna %><BR/>
				<%= f.check_box :poradna %>
			</td>
			<td>
				<%= f.label :poradna_kdy %><BR/>
				<%= f.date_select :poradna_when, :order => [:day, :month, :year], :start_year => Time.now.year, :use_month_numbers => true,
																				:include_blank => true %>
			</td> 
			<td>
				<%= f.label :Zájem_o_informace  %><BR/>
				<%= f.check_box :informace_zajem %>
			</td>
			
		</tr>
		<tr > 
			<td  colspan="3"  >
				<%= f.label :Skript %> <BR/>
				<%=h @talk.script.message if  @talk.script %>
			</td>	
		</tr>
		<tr> 
			<td colspan="3">
				<%= f.label :Obsah_hovoru %><br />
				<%= f.text_area :poznamka,"cols" =>90, "rows" => 10 %>
			</td>	
		</tr>
		<tr> 
			<td colspan="3" >
			 <%= f.submit 'Ulož' %>
			</td>	
		</tr>
		<tr> 
			<td colspan="3" >
			 
			Výpis hovorů dne:
				<%= calendar_date_select_tag 'p_date_and_time', nil, :clear_button => false, :time => false, :popup => :force, 
				:after_close =>  remote_function(:url => {:action => :ajax_respond_date,:id  => @talk} , :with => 'Form.serialize(this.form)', :update => 'my_list' ),
  		  :after_show => remote_function(:url => {:action => :ajax_respond_clear,:id  => @talk} , :with => 'Form.serialize(this.form)', :update => 'my_list' )
			 %>  
			 	</td>	
		</tr>
		<tr> 
			<td colspan="3" >
			<div id="my_list">
          
				</div>
		
  </table>  
	</div> 
<% end %>
