<table class="listtable">
  <tr>
    <th>Kontakt</th>
    <th>Volat kdy </th>
    <th>Konec</th>
    <th>Poradna</th>
    <th>Poradna kdy</th>
    <th>Info</th>
    <th>Obsah</th>
     <th>Výsledek</th>
  </tr>

<% ####   vypis jednotlivzch radku   %>   
<% ####   i = row counter %> 
<%i=0%>
<% @talks.each do |talk| %>
	<% @TEXT = talk.poznamka[-200..-1] if talk.poznamka != nil %>
  <% if  @highlight =~ /\Aodd/ then @highlight = 'even' else  @highlight = 'odd' end  %>
  
  <tr id='<%= @highlight%>'>
    <td >
     	<%= link_to talk.contact.last_name, talk ,{ :title =>"Editace hovoru"}  if talk.poznamka != nil %>
    </td>
   	<td>
   		<%=h talk.call_when_time.strftime("%d-%m-%y|%H.%M") if talk.call_when_time != nil %>
    </td>
    <td><%=h "Ano" if talk.finished %></td>
    <td><%=h "Ano" if talk.poradna %></td>
    <td><%=h talk.poradna_when %></td>
    <td><%=h "Ano" if talk.informace_zajem %></td>
   
    <td ><%= link_to ("Ano", talk ,{ :title => @TEXT})  if talk.poznamka != "" %></td>
    <td><%=h talk.result %></td>
    </tr>
<% end %>
</table>

<br />

